:root {
  --headline-text: rgb(21, 27, 43);
  --body-text: rgb(67, 71, 80);
  --label-text: rgb(67, 71, 80);

  --logo-color: rgb(22, 58, 119);

  --secondary-color-soft: rgb(241, 243, 254);
  --hover-color: rgb(220, 226, 247);

  --default-button: rgb(22, 60, 120);
  --delete-button: rgb(171, 45, 37);
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  color: inherit;
}

#root, #__next {
  isolation: isolate;
}

/*  */

html, body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
}

#root {
  height: 100%;
}